.create-list-item-section{
    height: 290px;
    width: 400px;
    position: fixed;
    top: 120px;
    left: 40px;
    background-color: pink;
    padding: 10px;
}
.create-list-item-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
    
}

.list-creation-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 250px;
    margin-top: 10px;
}


.list-creation-form input, .list-creation-form textarea {
    margin-bottom: 10px;
}

.list-creation-form textarea {
    padding-bottom: 20px;
}


.submit-button:click {
    background-color: bisque;
}

.list-creation-form span {
    font-size: 12px;
}





