body {  
    margin: 0;
    padding-top: 70px;
    padding-left: 240px;
    padding-right: 24px;
    background-color: rgb(234, 229, 229);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 


}


button {
    cursor: pointer;
}