.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(238, 221, 198);
    border: none;
}

.header-title {
    margin-left: 10px;
}

.header-right-section {
    margin-right: 10px;
    font-weight: bold;

}

.header-buttons {
    font-weight: 600;
    width: 80px;
    border-radius: 10px;
}

.header-image {
    width: 7.5%;
    height: 95%;
}



