.list-items-container {
    background-color: rgba(249, 235, 189, 0.893);
    padding: 10px;
    width: 800px;

    top: 20px;
    margin-left: 350px;
    margin-right: auto;
    margin-right: 50px;
    margin-top: 50px;

    


    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    

}

.create-list-item-header {
    margin-bottom: 15px;
}

.list-item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(243, 205, 200);
    
}
.list-item header {
    font-size: 20px;
    font-weight: 600;

}

.list-item-done {
    background-color: rgb(200, 243, 201);

}


.list-item-content { 
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.list-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.list-item-details p {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: 8px;
    padding: 5px;
    text-align: center;


}


.action-buttons { 
    width: 160px;
}


.action-buttons {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 2px;
    color: rgb(41, 118, 211);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
}
.action-buttons h3 {
    margin: 3px;
}
.action-buttons:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}
.action-buttons:active {
    opacity: 0.7;
}


.complete {
    border-color: rgb(38, 213, 58);
    color: rgb(38, 213, 58);
}

.complete:hover {
    background-color: rgb(38, 213, 58);
    color: white;
    
}
.destroy {
    border-color: rgb(210, 12, 12);
    color: rgb(210, 12, 12);

}

.destroy:hover {
    background-color: rgb(210, 12, 12);
    color: white;
}

.list-item-desciption p {
    width: 300px;
    word-wrap: break-word;
}

.list-item-desciption {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes items apart vertically */
}